*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
package-lock.json
yarn.lock

# project files
__tests__
.rpt2_cache
.editorconfig
jest.config.js
.prettierrc.js
.gitignore
rollup.config.js
tslint.json